# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

src/components/Footer/* @yqrashawn
src/components/Header/* @yqrashawn
src/components/NotFoundPage/* @yqrashawn
src/components/TablePanel/* @chain-txz
src/components/Tabs/* @chain-txz
src/components/Text/* @chain-txz

src/containers/Footer/* @yqrashawn
src/containers/Header/* @yqrashawn
src/containers/HomePage/* @yqrashawn
src/containers/Blocks/* @chain-txz
src/containers/Transactions/* @chain-txz
src/containers/Swap/* @chain-txz